body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #292929;
  color: #fff;
}

.App {
  padding: 20px;
  margin: 30px auto;
  text-align: center;
  max-width: 400px;
}

.about h1 {
  font-size: 48px;
}

.about h2 {
  font-size: 24px;
}

.avatar img {
  border-radius: 100%;
  width: 100px;
}

.social {
  margin: 40px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.icon {
  padding: 0 8px 3.5px 0;
  vertical-align: middle;
  width: 20px;
  height: 20px;
}

.button {
  display: inline-block;
  text-decoration: none;
  height: 48px;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
  width: 300px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0.1px;
  white-space: wrap;
  border-radius: 10px;
  margin-top: 20px;
}

.project {
  padding: 10px 0px;
  margin: 20px auto;
  border-radius: 8px;
  max-width: 300px;
  background-color: #000;
}

.project a{
  text-decoration: none;
  color: #fff;
}

.button img {
  filter: invert(100%);
  margin-right: 10px;
  width: 20px;
  height: 20px;
}

.project:hover,
.button:hover {
  filter: brightness(90%);
  transform: scale(1.05);
}

.button-twitter {
  color: #fff;
  background-color: #1da1f2;
}

.button-github {
  color: #fff;
  background-color: #000;
}

.button-website {
  color: #fff;
  background-color: #000;
}

.button-instagram {
  color: #fff;
  background-image: linear-gradient(-135deg, #1400c8, #b900b4, #f50000);
}

.button-linkedin {
  color: #fff;
  background-color: #0077b5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
